.footer_page {
    width: 84vw;
    height: 10vh;
    padding: 0 8vw;

    display: flex;
    justify-content: space-between;
    align-items: start;

}

.footer_box {
    width: 30vw;
    height: 8vh;
    padding: 0 4vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    border-top: solid 0.1vh #3A278B;
}

.footer_top_box {
    width: 30vw;
    height: 2vh;
    margin-top: 1.5vh;

    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 5vw;
}

.footer_bottom_box {
    width: 30vw;
    height: 2vh;

    display: flex;
    justify-content: flex-start;
}

.footer_nav {
    font-size: 2vh;
    color: #333333;

    cursor: pointer;
}

.footer_copyright {
    font-size: 1vh;
    color: #b4b4b4;
}

.footer_logo {
    width: auto;
    height: 5vh;
    margin-top: 1vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}