.header_page {
    width: 84vw;
    height: 10vh;
    padding: 0 8vw;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header_logo {
    width: auto;
    height: 5vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header_nav_box {
    width: 30vw;
    height: 5vh;
    padding: 0 4vw;

    display: flex;
    justify-content: space-between;
    align-items: end;

    border-bottom: solid 0.1vh #3A278B;
}

.header_nav {
    margin-bottom: 1vh;
    font-size: 2vh;
    color: #333333;
    text-decoration: none;
}