.record_page {
    width: 84vw;
    height: 84vh;
    padding: 0 8vw;
    padding-bottom: 6vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.record_top_container {
    width: 68vw;
    height: 14vh;
    padding: 7vh 8vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    border: 0.5vh solid #3A278B;
    border-radius: 2vw;
}

.record_bottom_container {
    position: relative;

    width: 84vw;
    height: 36vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 0.5vh solid #3A278B;
    border-radius: 2vw;
}

.record_filter_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record_filter_group {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.record_input {
    all: unset;

    width: 10vw;
    height: 4vh;
    padding: 0 1vw;

    border: 0.3vh solid #3A278B;
    border-radius: 2vh;
    color: #333333;
    font-size: 1.5vh;

    cursor: pointer;
}

.record_keyword_input {
    all: unset;

    width: 14vw;
    height: 4vh;
    padding: 0 1vw;

    border: 0.3vh solid #3A278B;
    border-radius: 2vh;
    color: #333333;
    font-size: 1.5vh;
}

.record_score_btn {
    width: 2.4vw;
    height: 4vh;
    padding: 0 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.3vh solid #3A278B;
    border-radius: 2vh;
    color: #333333;
    font-size: 2vh;

    cursor: pointer;
}

.record_score_btn.selected {
    background-color: #3A278B;
    color: white;
}

.record_undo_btn {
    width: 4vw;
    height: 4vh;
    padding: 0 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFD700;
    border-radius: 2vh;
    color: #333333;
    font-size: 2vh;

    cursor: pointer;
}

.record_btn {
    width: 4vw;
    height: 4vh;
    padding: 0 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3A278B;
    border-radius: 2vh;
    color: white;
    font-size: 2vh;

    cursor: pointer;
}

table {
    width: 82%;
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    height: 4vh;
    padding: 0vh;
    text-align: center;
    border-top: 0.1vw solid #3A278B;
}

th {
    background-color: white;
    color: black;
    font-size: 2vh;
    border-bottom: 0.2vw solid #3A278B;
    border-top: none;
}

td {
    background-color: white;
    color: #333333;
    font-size: 1.5vh;
}

.record_pagination_box {
    min-width: 5vw;
    height: 3vh;
    margin-top: 2vh;

    display: flex;
    gap: 2vw;
}

.record_pagination {
    color: #333333;
    font-size: 1.5vh;

    cursor: pointer;
}